body {background: darkseagreen;}
h1 {
  font-family:'Raleway', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.navigation{ 
  font-family:'Raleway', sans-serif;
  text-align: right;
  color: white;
  background-color: black;
}
